 <form class="form-inline" method="GET" action="/search">
    <div class="form-group mb-2 mr-2">
        <input type="text" class="form-control" size="45" id="q" name="q" placeholder="Enter a search term..." required>
    </div>
    <button type="submit" class="btn btn-primary mb-2">Search</button>
</form>